@charset "utf-8";
/* CSS Document */

body {
    height: auto;
    width: auto;
    background: url('sourse/fon.jpg') no-repeat;
    background-size: 100%;
    text-align: center;
    }
    /*аудио плеер*/
.muz{
     position: absolute;
       top: 85%;
       left: 70%;
       color:red;
       font-weight: bold;
    }

/*нло*/ /*нло по нажатию - скрипт запуска записан в хтмл*/
.nlo_style {
    top: 0px;
    left:0px;
    width:10%;
    position:absolute;
  }

.nlo-1 {
  /* описание анимации нло имя анимации, длителоьность, харакетеристика*/
  -webkit-animation: name_nlo 15s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes name_nlo {
from{-webkit-transform: translateX(0);}
20%{-webkit-transform:translateX(100px) translateY(100px) ;}
40%{-webkit-transform: translateX(300px) translateY(0px) ;}
60%{-webkit-transform: translateX(600px) translateY(300px) ;}
80%{-webkit-transform: translateX(700px) translateY(-50px) ;}
90%{-webkit-transform: translateX(700px) translateY(200px) ;}
95%{-webkit-transform: translateX(300px) translateY(100px) ;}
100%{-webkit-transform: translateX(0px) translateY(0px) rotate(-40deg);}
 }

/*Гагарин--------------------------------------------------------------*/
/*описание img ga00 положение  прочее*/
.ga00 {
  position: absolute;
  top: 150px;
  left: 90px;
  width: 50px;
  height: 50px;
  /border: 2px solid blue;
  border-radius: 70px;
   }
/*описании анимации .name_ga00*/
 .name_ga00{
   -webkit-transform-origin: 100% 0;
   -webkit-animation: name_ga00 15s linear;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }

@-webkit-keyframes name_ga00 {
from{-webkit-transform: translateX(0)rotate(-360deg);}
20%{-webkit-transform: translateX(100px) translateY(200px) rotate(-3deg);;}
40%{-webkit-transform: translateX(200px) translateY(-50px) rotate(-6deg);;}
60%{-webkit-transform: translateX(250px) translateY(200px) rotate(-6deg);;}
80%{-webkit-transform: translateX(300px) translateY(-50px) rotate(-6deg);;}
90%{-webkit-transform: translateX(900px) translateY(200px) rotate(-3deg);;}
100%{-webkit-transform: translateX(700px) translateY(100px) rotate(-6deg);;}
 }

/*SpaceMan--------------------------------------------------*/
/*описание img space_man */
.space_man {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 270px;
 	 }
/*присваиваем имя space_man_move анмиация для дива space_man_div*/
.space_man_move{
  -webkit-transform-origin: 100% 0;
  -webkit-animation: space_man_move 15s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/*описание анмиация для диву space_man_div */
 @-webkit-keyframes space_man_move {
   from{-webkit-transform: translateX(0);}
   20%{-webkit-transform:translateX(100px) translateY(350px) ;}
   40%{-webkit-transform: translateX(300px) translateY(-50px) ;}
   60%{-webkit-transform: translateX(600px) translateY(350px) ;}
   80%{-webkit-transform: translateX(700px) translateY(-50px) ;}
   90%{-webkit-transform: translateX(700px) translateY(200px) ;}
   95%{-webkit-transform: translateX(800px) translateY(300px) ;}
   100%{-webkit-transform: translateX(500px) translateY(0px);}
 }

/*--------спутник право низ---------------------*/
.sp_div{
  cursor: pointer;
  position: absolute;
  top: 500px;
  left: 1300px;
  }
.sp1 {
  width: 50px;
  height: 50px;
  }
.sp1_move{
  -webkit-animation: sp1_move 5s linear;
}
    /*работа анимации блока sp1 */
@-webkit-keyframes sp1_move {
  to {-webkit-transform :translate(-900px,-500px)  rotate(-360deg);}
 }

/* метеор*/
/*положение блока*/
#m1_main{
  position: absolute;
  top: 300px;
  left: 50px;
  }
  /*описание картинки блока метеор*/
.m1 {
    width: 50px;
}
/*анмиация m1_main_move*/
.m1_main_move{
  -webkit-animation: m1_main_move 5s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/*шаги анмиации m1_main_move */
@-webkit-keyframes m1_main_move{
  from{-webkit-transform: translateX(0);}
  20%{-webkit-transform:translateX(100px) translateY(250px) ;}
  40%{-webkit-transform: translateX(300px) translateY(-150px) ;}
  60%{-webkit-transform: translateX(600px) translateY(150px) ;}
  80%{-webkit-transform: translateX(700px) translateY(-50px) ;}
  90%{-webkit-transform: translateX(800px) translateY(200px) ;}
  95%{-webkit-transform: translateX(1000px) translateY(300px) ;}
  100%{-webkit-transform: translateX(1100px) translateY(-200px);}
}

 /*---------ракета лево низ------------------------*/
.r1 {
  width: 80px;
  }

#r1{
  position: absolute;
  top: 85%;
  left: 3%;
}
.r1_main_move{
  -webkit-animation: r1_main_move 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes r1_main_move{
  to{-webkit-transform: translate(1000px,-450px) rotate(100deg);}
}

/*--------спутник право верх------------*/
#sp{
  position: absolute;
  top: 5%;
  left: 93%;
  }

.spytnik {
  width: 70px;
   }
.sp0{
  -webkit-animation: sp0 5s linear;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
@-webkit-keyframes sp0 {
     to {-webkit-transform: translate(-1500px,0) rotate(360deg);}
   }
/*земля*/
.zemlj {
    height: 17%;
    position: absolute;
    top: 10%;
    left: 30%;
  }
.zemlj:hover {
    -webkit-transition: all 5s  linear;
    -webkit-transform: rotate(360deg) scale(2);
  }
/*солнце*/
.sun {
  height: 10%;
  position: absolute;
  top: 12%;
  left: 26%;
  -webkit-transform-origin: 200% 50%;
  -webkit-animation: sun 10s linear infinite;
  }
@-webkit-keyframes sun {
  to {-webkit-transform: rotate(-360deg);}
}
/*НЛО*/
.nlo {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 76%;
  left: 45%;
  }

.nlo {
  -webkit-animation-name: nlo;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-name: nlo;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.nlo:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation: 1s infinite hinge;
}
@-webkit-keyframes nlo {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

/*---------ZVEZDA------------*/
.star{
  position: absolute;
  width: 50px;
  top: 90%;
  left: 63%;
  -webkit-animation: zvezda 5s linear infinite;
}

@-webkit-keyframes zvezda{
  0% {
    transform:  translate(0px,0px);
  }
  50% {
    transform:  translate(-800px,-250px);
  }
  70% {
    transform:  translate(400px,-550px);
  }
  100% {
    transform:  translate(-400px,-500px);
  }
}

/*superman*/
.sm {
  position: absolute;
  width: 50px;
  top: 50%;
  left: 93%;
  transform: rotate(-90deg);
  -webkit-animation: sp 5s linear infinite;
}
@-webkit-keyframes sp {
  to {-webkit-transform: translate(-1250px,0) rotate(0deg);
  }
 }

.info_absolute{
  position: absolute;
  bottom: 0px;
  left: 550px;
  background: #ff9800;
  padding: 5px;
  border-radius: 15px;

}
